VITE_ADMIN_WORKER_URL=https://cms-membership.e-anandraj.workers.dev
VITE_MEDIA_WORKER_URL=https://cms-media.e-anandraj.workers.dev
VITE_OAUTH_URL=https://sveltia-cms-auth.e-anandraj.workers.dev
VITE_OAUTH_SITE_ID=anand-raj.github.io
